   *{
    box-sizing : border-box;
   } 

   
.header_item {
    display: flex;
    flex: 1;
    flex-direction: row nowrap;
    height: 100%;
    font-family: sans-serif;
    font-weight: bolder;
    color: blue;
}

.header_button_item {
    float: left;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_greetings_item {
    float: left;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.header_button {
    background-color: blue;
    color: antiquewhite;
    width: 75%;
    height: 50%;
    border-radius: 20px;
    border: none;
    font-size: 2em;
    font-weight: 400;
}

@media screen and (max-width: 1080px) {
    .header_greetings_item {
        display: none;
    }
    .header_button_item {
        width: 100%;
    }
}
    
@media screen and (max-height : 800px) {
    .header_greetings_item {
        display: none;
    }
    .header_button_item {
        width: 100%;
    }  
}